.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  width: calc(max(50vw, 300px));
  height: calc(max(50vh, 500px));
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
}

.modal-window-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & button {
    padding: 0.5rem 2rem;
    font-size: clamp(1rem, 0.3vw, 1.5rem);
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
  }
}